# Print

In [1]:
print("fahad and saad is brother")

fahad and saad is brother

In [2]:
print("fahad", "saad", sep='***', end= '***')
print("hammad", "ellaf",sep='***', end= '***')
print("mama", "papa", sep="***")

fahad***saad***hammad***ellaf***mama***papa

In [3]:
a = 5
b = 10
c= a+b
print(c)

15

In [4]:
a= 'fahad'
b = 'manzoor'
c= a+b
c

'fahadmanzoor'

In [5]:
a = 6
b = a + 6
b

12

# commenting

In [6]:
# is trha likhta ha commenting

In [7]:
'''
 (agr 2 line ma kuch explain krna ho or wo single line ma show ho to asa likhta ha )
'''

'\n (agr 2 line ma kuch explain krna ho or wo single line ma show ho to asa likhta ha )\n'

# Data Types

In [8]:
5 =        integer == int
5.5 =      float
'fahad'=    string == str
"fahad" =   string == str
True    =   Boolean == bool
False   =   Boolen  == bool

SyntaxError: cannot assign to literal (2154942428.py, line 1)

# Average

In [ ]:
var1 = 76
var2 = 87
var3 = 78

# calculate average

average = (var1 + var2 +var3) / 3
print("My Average is ", average)

# Percentage

In [ ]:
var4 = 87
var5 = 79
var6 = 94

obtain_mark = var4 + var5 + var6 
obtain_mark 

total_mark = 300

# calculate percentage


percentage = (obtain_mark / total_mark) *100
percentage

# Operators

In [ ]:
print(3+1)
print(3-1)
print(3*1)
print(3/1)
print(3//1)
print(3%1)
print(2**3)

In [ ]:
print(5 / 3)    # simple operators
print(5 // 3)   # flood division

In [ ]:
print(True and False)

In [ ]:
c = 5
print(c ** 5)

In [ ]:
print(9 % 3)
print(9 % 2)
print(8 % 2)

# Tasks

In [ ]:
# task 1

print('fahad ' * 15)

In [ ]:
# task 2

a = "fahad"
b = " manzoor"
c = a+b
c

In [ ]:
# task3 

a =  3
b = 5

third = a/b
print(third)

third -= 15
print(third)

result = third // 5
print(result)

# Input

In [9]:
name = input("what is your name")
name

KeyboardInterrupt: Interrupted by user

Input function always takes input in form of string unless you manually define a data type for it.

In [ ]:
var = float(input('what is your current city tempreture : '))
var

In [ ]:
var1 = int(input())
print("output", var1)
print(type(var1))

In [ ]:
var2 = float(input())
print("output", var2)
print(type(var2))

In [ ]:
var5 = int(input())
print("output", var5)
print(type(var5))

# Type casting

In [ ]:
a = 10.5
a = int(a)
print(a)
print(type(a))

In [ ]:
b = '33.5'
b = float(b)
print(b)
print(type(b))


b = int(b)
print(b)
print(type(b))

In [ ]:
c = 18.5
c = int(c)
print(int(c))
print(type(c))

# Conditional logical operators

equal to ---------------------- ==

not equal to ------------------- !=

less than ----------------------- <

greater than---------------------->

less than and equal to----------- <=

greater than and equal to---------  >=

In [ ]:
print(4 == 4)
print(4 != 4)
print(4 > 3)
print(4 < 3)
print(4 <= 5)
print(4 >= 3)

### if , elif and else condition

In [ ]:
if(5 > 4):
    print("Theak Ha ")
else:
    ("galat ha ")

In [ ]:
tempreture = float(input("Enter your current city tempreture : "))

if(tempreture < 15):
    print("its cool")
elif((tempreture >= 15) and (tempreture <30)):
    print("its moderate")
elif((tempreture >= 30) and (tempreture <40)):
    print("its hot")
else:
    print("so hot")

# Nested If

In [ ]:
if( 5 > 6):
    print("ok")
    if(8> 5):
        print("not ok")

In [ ]:
temp = float(input("enter your current city tempreture :"))
if(temp < 15):
    if(temp > 15):
        print("ok")

# Basic Data Structure in Python

# List

In [ ]:
lst = ["fahad","saad","hammad", "arslan","mama",123, 654, "carton", 345, "ok ha"]

In [ ]:
lst

In [ ]:
type(lst)

In [ ]:
len(lst)

In [ ]:
lst[0]

In [ ]:
lst[4]

In [ ]:
lst[-1]

# slicing of index

In [ ]:
lst[0: 11 ]

In [ ]:
lst[-5 : -1]

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
nums

In [ ]:
nums[1 : -1 : 2]

In [ ]:
nums[2: -1 :2]

-------------------------------------******************---------------------------------------------

In [ ]:
new = [5.5, 2, "Facebook User", [200, 300, 400]]
new

In [ ]:
new[3][1]

# Method of list

In [ ]:
new.append("fahad manzoor")

In [ ]:
new

In [ ]:
new.count(2)

In [ ]:
cohort = [8, 20, 2022]

new.append(cohort)

In [ ]:
new

In [ ]:
new.extend(cohort)

In [ ]:
new

In [ ]:
new.insert(2,"fahad")

In [ ]:
new

In [ ]:
new.pop(-8)

In [ ]:
new.reverse()

In [ ]:
new

In [ ]:
new.remove(2)

In [ ]:
print(new)

In [ ]:
l = [ 'fahad',"manzoor hussain", "ali",'hammad']

In [ ]:
# sort ma tarteeb sa ajta ha num ya kuch b ho to 
l.sort()

In [ ]:
l

# Tasks 1

In [ ]:
 lst1 = [1, 2, 3, 4, ['a', 'b', [3,4], 'c'], 5, [[['ab', 'bc', 'cd'], ['df', 'gh'], 7.5 ]], 6, 7, 8]

In [ ]:
lst1

In [ ]:
lst1[6]

In [ ]:
lst1[6][0]

In [ ]:
lst1[6][0][0]

In [ ]:
lst1[6][0][0][1]

# Tasks 2

In [ ]:
lst2 = [1, 2, 3, 4, 5]
lst3 = ["a", "b", "c", "d", "e"]
lst4 = [True, False, True, False, True]

In [ ]:
lst4.insert(2, lst3)

In [ ]:
lst4

In [ ]:
lst2.insert(0, lst4)

In [ ]:
lst2

# Task 3

In [ ]:
lst2[0][2]

In [ ]:
var = lst2[0].pop(2)

In [ ]:
var

In [ ]:
print(var * 10)

# Tuple

- ordered collection of element
- enclosed in () round brakets/paranthesis
- Different kind of element can be stored
- once element are stored you can not change them (unmutatable)

In [68]:
tup = ("fahad", 123 , [1,2,3], True)

In [69]:
type(tup)

tuple

In [80]:
len(tup)

4

In [70]:
tup[2]

[1, 2, 3]

In [72]:
tup[2][1]

2

In [73]:
tup.count(123)

1

In [74]:
tup.index([1,2,3])

2

In [75]:
tup1 = (12,15,23,54,34,43,12,8)

In [76]:
min(tup1)

8

In [77]:
max(tup1)

54

In [78]:
tup + tup1

('fahad', 123, [1, 2, 3], True, 12, 15, 23, 54, 34, 43, 12, 8)

In [82]:
tup1 *2

(12, 15, 23, 54, 34, 43, 12, 8, 12, 15, 23, 54, 34, 43, 12, 8)

---

# For Loops

In [ ]:
for i in range(6):
    print(i)

In [ ]:
for i in lst3:
    print(i)

In [ ]:
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst2 = []

for i in lst1:
    if(i % 2) == 0:
        lst2.append(i)
        lst1.remove(i)
    
print(lst1)
print('-----------')
print(lst2)

# While Loop

In [ ]:
i = 0

while(i < 10):
    print(i)
    i += 1

In [ ]:
lst3 = []
i = 0

while(i < 10):
    lst3.append(i)
    i+= 1
print(lst3)

### While loop with break statement

In [ ]:
name = 'fahad'
data = []

while(True):
    name2 = str(input("enter name 2: "))
    if(name == name2):
        break
    else:
        data.append(name2)

In [ ]:
data

In [ ]:
data = []
naming = 'ABC'

while(True):
    name2 = str(input("enter name 2: "))
    if(naming == name2):
        continue
    else:
        data.append(name2)

# Dictionary

In [91]:
dic = {"samosa" : 30,'raita': 20, "pakora" : 100, 'salad': 50, 'chickenrolls': 30}

In [92]:
dic

{'samosa': 30, 'raita': 20, 'pakora': 100, 'salad': 50, 'chickenrolls': 30}

In [93]:
type(dic)

dict

In [94]:
# extract data
dic.keys()

dict_keys(['samosa', 'raita', 'pakora', 'salad', 'chickenrolls'])

In [95]:
dic.values()

dict_values([30, 20, 100, 50, 30])

In [98]:
# method 1 update
dic.update({'Tikki': 50})

In [99]:
dic

{'samosa': 30,
 'raita': 20,
 'pakora': 100,
 'salad': 50,
 'chickenrolls': 30,
 'Tikki': 50}

In [100]:
# method 2 update

dic['nankhatai']=120

In [101]:
dic

{'samosa': 30,
 'raita': 20,
 'pakora': 100,
 'salad': 50,
 'chickenrolls': 30,
 'Tikki': 50,
 'nankhatai': 120}

In [102]:
# update the values
dic['Tikki']=70

In [103]:
dic

{'samosa': 30,
 'raita': 20,
 'pakora': 100,
 'salad': 50,
 'chickenrolls': 30,
 'Tikki': 70,
 'nankhatai': 120}

In [105]:
dic2 = {'dates': 50, 'badam': 100, 'chicken': 250}
dic2

{'dates': 50, 'badam': 100, 'chicken': 250}

In [109]:
# concatinate 
dic.update(dic2)

In [108]:
dic

{'samosa': 30,
 'raita': 20,
 'pakora': 100,
 'salad': 50,
 'chickenrolls': 30,
 'Tikki': 70,
 'nankhatai': 120,
 'dates': 50,
 'badam': 100,
 'chicken': 250}

# Sets
- unordered and unindexed
- curly brackets are used {}
- No dublicated allowed

In [111]:
# sets ma boolean operator nh ata ha 
s1 = {1,2,3,4,'ammar', 'codanics', 'faisalabad', True}
s1

{1, 2, 3, 4, 'ammar', 'codanics', 'faisalabad'}

In [113]:
# sets ma dublicate value b nh hota ha 
s1.add('ammar')
s1

{1, 2, 3, 4, 'ammar', 'codanics', 'faisalabad'}

In [114]:
s1.union()

{1, 2, 3, 4, 'ammar', 'codanics', 'faisalabad'}

# Task

In [ ]:
dic = {'ABC-DEF-001' : 'fahad', 'ABC-DEF-002': 'saad', 'ABC-DEF-003': 'hammad','ABC-DEF-004': 'billi'}

In [ ]:
dic

In [ ]:
for i in dic.keys():
    print(i)
    
print('----------------')

for i in dic.values():
    print(i)
    
print('----------------')

for i in dic.items():
    print(i)

In [ ]:
name = 'fahad'
lst = []

for i in dic.values():
    if(i == name):
        lst.append(i)

In [ ]:
lst

In [ ]:
length = len(lst[0])

if (length % 2 == 0):
    print("even Value")
else:
    print("odd value")

# *Method of Dictionary*

In [ ]:
# pop
a = dic.pop('ABC-DEF-002')

In [ ]:
print(a)

In [ ]:
print(dic)

In [ ]:
# pop item
b = dic.popitem()

In [ ]:
b

In [ ]:
dic

In [ ]:
# set defult
dic.setdefault('ABC-DEF-005')

In [ ]:
dic

In [ ]:
# update
dic.update({"ABC-DEF-006": "Tahir"})

In [ ]:
dic

In [ ]:
dic['ABC-DEF-001']

In [ ]:
dicti = {'Name' : ['fahad','saad','hamad','billi','mama'],
        'Age': [20,22,17,13,43],
        'Score' : [88,98,89,78,31],
        'Result': ['pass','pass','pass','pass','fail']}

In [ ]:
dicti

In [ ]:
print( dicti['Name'][0],  dicti['Age'][0] , dicti['Score'][0], dicti["Result"][0])

In [ ]:
print( dicti['Name'][1],  dicti['Age'][1] , dicti['Score'][1], dicti["Result"][1])

In [ ]:
print( dicti['Name'][2],  dicti['Age'][2] , dicti['Score'][2], dicti["Result"][2])

In [ ]:
print( dicti['Name'][3],  dicti['Age'][3] , dicti['Score'][3], dicti["Result"][3])

In [ ]:
print( dicti['Name'][0],  dicti['Age'][0] , dicti['Score'][0], dicti["Result"][0])
print( dicti['Name'][1],  dicti['Age'][1] , dicti['Score'][1], dicti["Result"][1])
print( dicti['Name'][2],  dicti['Age'][2] , dicti['Score'][2], dicti["Result"][2])
print( dicti['Name'][3],  dicti['Age'][3] , dicti['Score'][3], dicti["Result"][3])

In [ ]:
d = {'integer': 25, 'nested': {'first': 1, 'second': 2, 'third': [True,False, True,('I','am','not')]}, 'boolean' : 76   }

In [ ]:
print(d['nested']['third'][3][1])

# *Nested Statement and Looping*

In [ ]:
a = 8

if(a % 2 == 0):
    print("Even")
else:
    print("odd")

In [ ]:
# nested Loop

for i in range(2,3):
    for j in range(1,11):
        print(str(i)+ " x " + str(j) + ' = ' + str(i *j))

In [ ]:
for i in range(5):
    print(i)
    for j

# User Define Function

In [ ]:
def cnic_issue():
    age= int(input("enter your age: "))
    if age >=18:
        print("Your agr eligible in cnic")
    else:
        print("you are not eligible in cinc")

In [ ]:
cnic_issue()

In [ ]:
def print_codanics(text):
    
    print(text )
    print(text)
    print(text)
    print(text)
    
print_codanics("We are learning python with baba ammar in codanics yt channel ")

In [ ]:
def age_calculator(age):
    if (age == 5):
        print("Hammad can join the school")
    elif age > 5  and age < 18:
        print("Hammad should go to higher school")
    elif age >=18 and age <23:
        print("Hammad should go to collage")
    elif age >= 23 and age <40:
        print("Hammad go to university")
    elif age>= 40:
        print("Hammad go to job ")
    else:
        print("Hammad is still a baby")

In [ ]:
age_calculator(45)

In [ ]:
def future_age(age):
    new_age= age + 20
    return new_age

In [ ]:
future_age(18)

# Function without Parameters

In [ ]:
def take_some_input():
    var = input("Enter a name")
    return var

In [ ]:
take_some_input()

In [ ]:
def take_some_input1():
    var = input("Enter a name")
    length = len(var)
    return length

In [ ]:
a = take_some_input1()

In [ ]:
a

In [ ]:
def un(**params):
    print(params)
    print(params['name'])

In [ ]:
un(name = 'ali', age = 30)

---

# Error handling method

jb hama ya check krna ho ka hamara code ma ya wla code ha ya nh to us ka liya try and except method use ho ga

In [10]:
try:
    print(lst)
except:
    print("nh ha ya wala variable is code ma ")

nh ha ya wala variable is code ma

# Trouble shooting

In [23]:
# syntex error ka matlb hota ha ham na apna code ma khi coma ya cotation mark ya pranthesis nh lagai ha 

print(we are learning)

SyntaxError: invalid syntax (983238094.py, line 1)

In [29]:
# run time error

print(25/0)

ZeroDivisionError: division by zero

In [27]:
# samantic error

name = 'fahad'
print('hello name')

hello name

# Functions

In [1]:
# no 1 method
def print_codanics():
    text = 'we are learning python with baba ammar '
    print(text)
    print(text)
    print(text)
print_codanics()

we are learning python with baba ammar
we are learning python with baba ammar
we are learning python with baba ammar

In [2]:
# no 2 method

def codanics(text):
    print(text)
    print(text)
    print(text)
codanics('we are learning python with codanics')

we are learning python with codanics
we are learning python with codanics
we are learning python with codanics

In [5]:
# defining function with if , elif, and else statement

def school_calculator(age):
    if age==5:
        print("hammad can join the school")
    elif age>5:
        print('hammad should go to higher school')
    else:
        print('hammad is still a baby')
school_calculator(5)

hammad can join the school

In [10]:
# difing a function of future

def future_age(age):
    new_age = age+20
    return new_age

future_age(18)

38

# import libraries

In [22]:
import math
print('the value of pi is ',math.pi)

the value of pi is  3.141592653589793

In [15]:
import statistics
x = [150,250,350,450,550]
print(statistics.mean(x))

350

# Indexing

In [30]:
# make a string
a = 'samosa pakora'
a

'samosa pakora'

In [31]:
a[0]

's'

In [32]:
a[1]

'a'

In [38]:
a[0:6]

'samosa'

In [40]:
# length 
len(a)

13

# string method

In [42]:
food = 'biryani'
food

'biryani'

In [43]:
len(food)

7

In [44]:
# capitalize every element
food.capitalize()

'Biryani'

In [49]:
# count
food.count('b')

1

In [50]:
# upper case
food.upper()

'BIRYANI'

In [51]:
# lower case
food.lower()

'biryani'

In [53]:
food.replace('b','sh')

'shiryani'

In [55]:
# counting a specific alphabet in a string
name = 'my name is fahad manzoor'
name

'my name is fahad manzoor'

In [57]:
name.count("a")

4

## finding an index number in string`

In [58]:
name = 'my name is fahad manzoor'
name

'my name is fahad manzoor'

In [62]:
name.find("r")

23

### how to split a string

In [65]:
food = " i love samosa, pakora, raita, biryani and karahi"
food

' i love samosa, pakora, raita, biryani and karahi'

In [67]:
food.split("")

[' i love samosa, pakora, raita, biryani and karahi']

# Body mass index (BMI)

In [8]:
height = (input("enter your height :"))

enter your height :1.74

In [9]:
height = float(height)

In [10]:
weight = input('enter your weight: ')

enter your weight: 68

In [11]:
weight = float(weight)

In [12]:
name = input('what is your name: ')

what is your name: fahad

In [15]:
bmi = weight / height**2
print('My name is',name,'and my BMI is',bmi)

My name is fahad and my BMI is 22.460034350640772